.register{
    width: 100vw; height: 100vh;  background-color: #F4E7E1;
    display: flex; align-items: center;  justify-content: center;
  }
  
  .registerWrapper{
      width: 60%; height: 60% ;  display: flex;
  }
  .registerL, .registerR{
      flex:2;  display:flex ; flex-direction: column;
      justify-content: center; 
  }
  .registerLogo{
      font-size: 60px; font-weight: 700; color: #964ec2 ;
      margin-bottom: 10px;
  }
  .registerDes{
      font-size:25px;
  }
  
  .registerBox{
      height: 480px;  padding:20px; background-color: white;
       border-radius: 15px; display: flex; flex-direction: column; justify-content: space-between;
  }
  .registerInput{
       height: 40px; border-radius: 10px; border: 1px solid grey; 
       font-size: 15px; padding-left: 15px ;
  }   
  
  .registerInput:focus{
      outline:none;
  }
  .registerbtn{ 
      height:45px;
      border-radius: 10px; border:none;
      background-color: #964ec2;
      color:white;
      font-size:20px ;
      font-weight: 500; cursor: pointer;
  
  }
  .registerForgot{
      text-align: center; font-size: 20px; color:#F64668;
  }
  
  .registerRegisterbtn{
      width: 60%; align-self: center;  
      background-color: #42b720; border-radius: 5px; border: none;
      font-size: 18px; height:45px; cursor: pointer; color:white;
      font-weight: 500;
  }