.rbFriend{
    display: flex;
    align-items: center; margin-bottom: 10px;
 }
 .rbProPicContainer{
    margin-right: 10px; position: relative;
 }
 .rbProPic{
    width:45px;  height: 45px; border-radius: 50% ;
    object-fit: cover;
 }
.rbOnline{
    width:13px;  height: 13px; 
    border-radius: 50%; background-color: green;
    position:absolute;  top: -2px; right: 0; border: 2px solid whitesmoke;
 }

 .rbUserName{
     font-weight:400;
 }